@charset "utf-8";
/* CSS Document */
#loginform{
	width: 400px;
	margin: 100px auto;
}
fieldset{
	border: 1px solid #f4f4f4;
	padding: 20px 10px;
}
legend{
	font-size: 16px;
	padding: 0 10px;
}
form li{
	padding: 5px;
	margin-bottom: 1px;
}
form li.center{
	text-align: center;
}
form li.left{
	text-align: left;
}
form li.right{
	text-align: right;
}
form input[type=submit], form input[type=button]{
	cursor: pointer;
	padding: 5px 25px;
	border: 1px solid #ccc;
	margin: 0 5px;
}
form input[type=submit]:hover, form input[type=button]:hover{
	background: #f8f8f8;
	border: 1px solid #666;
}
form label{
	float: left;
	width: 60px;
	text-align: right;
	margin-right: 5px;
}
form label.error{
	float: none;
	display: block;
	color: #f00;
	width: auto;
	text-align: left;
	padding-left: 105px;
}
form input[type=text], form input[type=password], form textarea{
	padding: 5px;
	border: 1px solid #ccc;
}
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus{
	background: #f8f8f8;
	border: 1px solid #666;
}
/* generico */
.radius5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.erro, .sucesso, .alerta, .pergunta {
	width: 96%;
	padding: 2%;
	margin: 10px 0;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.erro{
	background: rgba(255, 0, 0, 0.76);
	border: 1px solid #FF0000;
	color: #fff;
}
.sucesso{
	background: rgba(95, 236, 0, 0.75);
	border: 1px solid #5FEC00;
	color: #fff;
}
.alerta{
	background: rgba(229, 255, 0, 0.75);
 	border: 1px solid #E5FF00;
  	color: #aaa;
}
.pergunta{
	background: rgba(0, 153, 255, 0.76);
	border: 1px solid #0099FF;
	color: #fff;
}
